<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <typeAliases>
        <package name="cn.kerlin.crm.domain"/>
    </typeAliases>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${Jdbc.driverClassName}"/>
                <property name="url" value="${Jdbc.url}"/>
                <property name="username" value="${Jdbc.username}"/>
                <property name="password" value="${Jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="cn/kerlin/crm/DepartmentMapper.xml"/>
        <mapper resource="cn/kerlin/crm/EmployeeMapper.xml"/>
    </mappers>
</configuration>